*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/vcs.xml
.idea/codeStyles/Project.xml
.idea/caches/build_file_checksums.ser
projectFilesBackup/.idea/workspace.xml
